[Unit]
Description=HippOS storage scanner
After=hippos-es.service
Wants=hippos-es.service

[Service]
Type=oneshot
ExecStart=/usr/lib/hippos/hippos-storage-manager scan --roots /userdata/roms /userdata/saves /userdata/system/cache
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7

[Install]
WantedBy=multi-user.target
