[Unit]
Description=HippOS storage scanner
After=local-fs.target userdata.mount hippos-storage.service
Wants=userdata.mount

[Service]
Type=oneshot
ExecStart=/usr/lib/hippos/hippos-storage-manager scan
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7

[Install]
WantedBy=multi-user.target
