[Unit]
Description=HippOS MergerFS BIOS pool
After=local-fs.target userdata.mount
Before=hippos-es.service
Wants=userdata.mount

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStopSec=10
ExecStart=/usr/lib/hippos/mount-bios-pool
ExecStop=umount -l /userdata/bios

[Install]
WantedBy=multi-user.target
