[Unit]
Description=HippOS MergerFS ROM pool
After=local-fs.target userdata.mount hippos-rom-scan.service
Before=hippos-es.service

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStopSec=5
ExecStart=/usr/lib/hippos/mount-roms-pool
ExecStop=umount -l /userdata/roms
ExecStop=pkill -f "mergerfs.*userdata/roms" || true

[Install]
WantedBy=multi-user.target
