[Unit]
Description=HippOS Session Dispatcher
After=local-fs.target hippos-xserver.service user@1000.service time-sync.target
Wants=hippos-xserver.service time-sync.target

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/lib/hippos/hippos-session
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical.target
