[Desktop Entry]
Version=1.0
Type=Application
Name=AppleWin
GenericName=Apple II Emulator
Comment=AppleWin Apple II emulator
Exec=/usr/lib/hippos/emulators/launch-applewin
Icon=applications-games
Terminal=false
Categories=Game;Emulator;
