[Desktop Entry]
Version=1.0
Type=Application
Name=DOSBox-X
GenericName=DOS Emulator
Comment=DOSBox-X DOS emulator
Exec=/usr/lib/hippos/emulators/launch-dosbox-x
Icon=applications-games
Terminal=false
Categories=Game;Emulator;
