[Desktop Entry]
Version=1.0
Type=Application
Name=openMSX
GenericName=MSX Emulator
Comment=openMSX MSX emulator
Exec=/usr/lib/hippos/emulators/launch-openmsx
Icon=applications-games
Terminal=false
Categories=Game;Emulator;
