[Desktop Entry]
Version=1.0
Type=Application
Name=PPSSPP
GenericName=PlayStation Portable Emulator
Comment=PPSSPP PlayStation Portable emulator
Exec=/usr/lib/hippos/emulators/launch-ppsspp
Icon=ppsspp
Terminal=false
Categories=Game;Emulator;
