@define-color accent_color #7c35ff;
@define-color accent_bg_color #7c35ff;
@define-color accent_fg_color #ffffff;

*:selected,
row:selected,
.view:selected {
    background-color: #7c35ff;
    color: #ffffff;
}
