[Unit]
Description=HippOS save sync periodic upload

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
AccuracySec=30s
Unit=hippos-save-sync.service

[Install]
WantedBy=timers.target
