[Unit]
Description=HippOS userdata version migration
After=local-fs.target
Before=hippos-es.service hippos-desktop.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/hippos/hippos-migrate

[Install]
WantedBy=multi-user.target
