[Unit]
Description=HippOS MergerFS saves pool
After=local-fs.target userdata.mount hippos-userdata-init.service
Before=hippos-es.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/hippos/mount-saves-pool
ExecStop=umount /userdata/saves

[Install]
WantedBy=multi-user.target
